nav, article, aside, footer section {
    margin: 0 auto;
    width: 900px;
  }
  
  nav {
    margin-top: 25px;
  }

  aside {
    padding-top: 30px;
    padding-bottom: 60px
  }
  aside button {
    float: right;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    padding: 15px 40px;
    background: #b8705a;
    color: #fff;
    font-size: 1.2em;
    border: none;
  }
  
  hr {
    clear: both;
    border: 0;
    height: 13px;
    background-image: url('../img/hr.png');
  }
  footer section p{
    padding: 50px 0;
    line-height: 1.5em;
    text-align: center;
    color: #aaa;
  }